<link
    rel="icon"
    type="image/x-icon"
    href="{{ './images/favicon/favicon.ico' | relative_url }}"
/>

<link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{{ './images/favicon/apple-touch-icon.png' | relative_url }}"
/>
<link
    rel="android-chrome-192x192"
    sizes="192x192"
    href="{{ './images/favicon/android-chrome-192x192.png' | relative_url }}"
/>
<link
    rel="android-chrome-512x512"
    sizes="512x512"
    href="{{ './images/favicon/android-chrome-512x512.png' | relative_url }}"
/>

<link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{ './images/favicon/favicon-32x32.png' | relative_url }}"
/>
<link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{ './images/favicon/favicon-16x16.png' | relative_url }}"
/>

<!-- icons from favicon.io -->