<div class="footer">
    <div class="nav">
      <ul>
        <li> <a href="./index.html"> Home </a> </li>
        <li> <a href="./products.html"> Products </a> </li>
        <li> <a href="./recipes.html"> Recipes </a> </li>
        <li> <a href="./about.html"> Visit Us </a> </li>
      </ul>
    </div>
    <div class="icons">
      <p>
        <a href="https://g.co/kgs/6K2uRJ8" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-google fa-2xl"></i></a>
        <a href="https://www.tiktok.com/@hong.kong.superma" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-tiktok fa-2xl"></i></a>
        <a href="https://www.yelp.com/biz/hong-kong-supermarket-winterville" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-yelp fa-2xl"></i></a>
      </p>
    </div>
    <div class="copy">
      <p> &copy; 2025 Hong Kong Supermarket </p>
    </div>
</div>